<div class="well">
	
	<span style="color:#1e90ff; font-size:20px">ABOUT</span><br /><br />
	<p>The purpose of this project is to aid the students in finding an employment or internship by creating a website that will display up-to-date job listing from the university’s partner companies and also allow the students to send his/her portfolio to the desired company. The job listing will be on a section of the website where the user could see the company’s name, job description, requirements, and other important descriptions. The partner companies will provide the necessary information through communicating with UST’s Counseling and Career Development Center. The user could apply to a company by going to the company’s webpage in the website through the explore section and then send his/her portfolio with the “Send Portfolio” button. The user can create a portfolio by editing the contents of the portfolio section in which they can add new information like awards, experiences, and seminars attended. </p>

</p>
	
</div>