<div class="well">
	
	<span style="color:#1e90ff; font-size:20px">EXPLORE</span><br /><br />
	
	<div class="panel">
        <div class="input-group">
            <input class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default">Search</button>
            </span>
        </div>
	</div>	
	
  <div class="container-fluid">
	<div class="row">
		<div class="well col-md-3">
			<img src="views/explore/apple.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/google.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/apple.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/google.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/apple.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/google.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/apple.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/google.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/apple.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/google.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/apple.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/google.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/apple.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/google.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/apple.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/google.png" style="width:50px;height:50px;align:center"">
		</div>
		
		<div class="well col-md-3">
			<img src="views/explore/apple.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/google.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/apple.png" style="width:50px;height:50px;align:center"">
		</div>
		<div class="well col-md-3">
			<img src="views/explore/google.png" style="width:50px;height:50px;align:center"">
		</div>
	</div>
  </div>
  
</div>
