<div class="row">
	<div class="row col-md-8">
		<!--NEWS FEED SECTION--------------------------------->
		<div class="col-md-12">
			<div class="well">
				<span style="color:#1e90ff; font-size:20px">NEWS FEED</span><br /><br />   
				
				<div ng-include="'views/home/newsfeed.html'"></div>
				
			</div>
		</div>
		
		<!--RECENT ACTIVITIES SECTION--------------------------------->
		<div class="col-md-12">
			<div class="well"> 
				<span style="color:#1e90ff; font-size:20px">RECENT ACTIVITIES</span><br /><br />
				
				<div class="well well-sm">#1 </div>
				<div class="well well-sm">#2 </div>
				<div class="well well-sm">#3 </div>
				<div class="well well-sm">#4 </div>
				<div class="well well-sm">#5 </div>

			</div>
		</div>
	</div>

	<!--ANNOUNCEMENTS SECTION--------------------------------->
	<div class="col-md-4">
		<div class="well">
			<span style="color:#1e90ff; font-size:20px">ANNOUNCEMENTS</span><br /><br />  
				<div class="panel panel-default">
					<div class="panel-heading">August 30, 2015</div>
					<div class="panel-body">Submission of Certificates</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">August 31, 2015</div>
					<div class="panel-body">Internship at HP</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">September 1, 2015</div>
					<div class="panel-body">Approval of Certificate</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">August 30, 2015</div>
					<div class="panel-body">Submission of Certificates</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">August 31, 2015</div>
					<div class="panel-body">Internship at HP</div>
				</div>
		</div>
	</div>
</div>