<!-- Main Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Tiger Jump</a>
    </div>
    <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
			<a ui-sref="home" class="hidden-xs">Home</a>
			<a ui-sref="home" class="visible-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Home</a>
		</li>
        <li ui-sref-active="active">
			<a ui-sref="portfolio" class="hidden-xs">Portfolio</a>
			<a ui-sref="portfolio" class="visible-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Portfolio</a>
		</li>
        <li ui-sref-active="active">
			<a ui-sref="explore" class="hidden-xs">Explore</a>
			<a ui-sref="explore" class="visible-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Explore</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="jobs" class="hidden-xs">Job Posts</a>
			<a ui-sref="jobs" class="visible-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Job Posts</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="about" class="hidden-xs">About</a>
			<a ui-sref="about" class="visible-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">About</a>
		</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	  <li class="dropdown" ng-class="{ open : dd1 }" ng-init="dd1 = false" ng-click="dd1 = !dd1">
        <a class="dropdown-toggle" data-toggle="dropdown">Settings<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="#">Profile</a></li>
            <li ui-sref-active="active"><a ui-sref="#">Change Password</a></li>
            <li ui-sref-active="active"><a ui-sref="#"></a></li>
			<li ui-sref-active="active"><a ui-sref="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Logout</a></li>
          </ul>
     </li>

      </ul>
    </div>
  </div>
</nav>
<br /><br />