<div class="well">
	<div class="row">
		<div class="col-md-2">
			<div class="well"> PHOTO </div>
		</div>
		<div class="col-md-8">
			<h3>
			FULL NAME<br />
			Professional Headline<br />
			Address<br />
			Email<br />
			Contact<br />
			</h3>
		</div>
	</div>
	
	<div class="container">
		<form role="form">
			<div class="form-group">
				<label for="education"><h3>Education</h3></label>
				<textarea class="form-control" rows="5" id="education"></textarea>
			</div>
		</form>
	</div>
	
	<div class="container">
		<form role="form">
			<div class="form-group">
				<label for="skills"><h3>Skills</h3></label>
				<textarea class="form-control" rows="5" id="skills"></textarea>
			</div>
		</form>
	</div>
	
	<div class="container">
		<form role="form">
			<div class="form-group">
				<label for="experiences"><h3>Experiences</h3></label>
				<textarea class="form-control" rows="5" id="experiences"></textarea>
			</div>
		</form>
	</div>

	<div class="container">
		<form role="form">
			<div class="form-group">
				<label for="certificates"><h3>Certificates</h3></label>
				<textarea class="form-control" rows="5" id="certificates"></textarea>
			</div>
		</form>
	</div>
	
	<div class="container">
		<form role="form">
			<div class="form-group">
				<label for="awards"><h3>Honors & Awards</h3></label>
				<textarea class="form-control" rows="5" id="awards"></textarea>
			</div>
		</form>
	</div>
	
	<div class="container">
		<form role="form">
			<div class="form-group">
				<label for="seminars"><h3>Seminars Attended</h3></label>
				<textarea class="form-control" rows="5" id="seminars"></textarea>
			</div>
		</form>
	</div>
	
</div>