
<script>
	$(document).ready(function() {
		$('.pgwSlideshow').pgwSlideshow({
			autoSlide: true
		});
	});
</script>	

    <ul class="pgwSlideshow">
		<li>
			<a href="https://www.accenture.com/us-en/Careers/find-your-fit-students-graduates-undergraduate-summer-internships.aspx" target="_blank">
				<img src="views/home/accenture.png" alt="Accenture Internship" data-description="Are you ready to start your future? Read on!">
			</a>
		</li>
		<li>
			<a href="http://www.nytimes.com/2013/05/29/opinion/friedman-how-to-get-a-job.html?_r=0" target="_blank">
				<img src="views/home/find.png" alt="How to Get a Job" data-description="by Robert Freedman">
			</a>
		</li>
		<li>
			<a href="https://www.accenture.com/us-en/Careers/find-your-fit-students-graduates-undergraduate-summer-internships.aspx" target="_blank">
				<img src="views/home/new.jpg" alt="Get a job at New York!" data-description="It's time for you to go to the Big Apple.">
			</a>
		</li>
		<li>
			<a href="http://www.nytimes.com/2013/05/29/opinion/friedman-how-to-get-a-job.html?_r=0" target="_blank">
				<img src="views/home/san.jpg" alt="Get a job at San Francisco!" data-description="Have an experience of a lifetime.">
			</a>
		</li>
		<li>
			<a href="https://www.accenture.com/us-en/Careers/find-your-fit-students-graduates-undergraduate-summer-internships.aspx" target="_blank">
				<img src="views/home/circuit.jpg" alt="Get a job at New York!" data-description="It's time for you to go to the Big Apple.">
			</a>
		</li>
		<li>
			<a href="http://www.nytimes.com/2013/05/29/opinion/friedman-how-to-get-a-job.html?_r=0" target="_blank">
				<img src="views/home/london.jpg" alt="Get a job at San Francisco!" data-description="Have an experience of a lifetime.">
			</a>
		</li>
		
    </ul>